<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>uipng/home_exitbtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{807,1},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>uipng/home_light.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{342,342}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{342,342}</string>
			</dict>
			<key>uipng/home_newbtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,768},{360,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,103}</string>
			</dict>
			<key>uipng/home_rankbtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{372,598},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>uipng/home_red_png.png</key>
			<dict>
				<key>frame</key>
				<string>{{474,656},{38,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{38,38}</string>
			</dict>
			<key>uipng/home_shopicon.png</key>
			<dict>
				<key>frame</key>
				<string>{{600,427},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>uipng/home_timemodebtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,873},{360,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,103}</string>
			</dict>
			<key>uipng/home_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{339,707},{204,46}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{261,46}</string>
			</dict>
			<key>uipng/homesceeninviteicon.png</key>
			<dict>
				<key>frame</key>
				<string>{{690,306},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>uipng/jiangbei_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{556,1},{135,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{135,141}</string>
			</dict>
			<key>uipng/main_luck_gift.png</key>
			<dict>
				<key>frame</key>
				<string>{{579,311},{109,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,115}</string>
			</dict>
			<key>uipng/success_light.png</key>
			<dict>
				<key>frame</key>
				<string>{{363,755},{172,164}}</string>
				<key>offset</key>
				<string>{-7,-3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>uipng/timebg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,978},{157,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{157,40}</string>
			</dict>
			<key>moregame/jctg_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{449,316},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>moregame/mg_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{426,169},{160,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,82}</string>
			</dict>
			<key>moregame/mg_kuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{426,1},{128,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,166}</string>
			</dict>
			<key>rank/black.png</key>
			<dict>
				<key>frame</key>
				<string>{{822,113},{74,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,74}</string>
			</dict>
			<key>rank/choose1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{426,253},{97,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,24}</string>
			</dict>
			<key>rank/choose1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{586,925},{104,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,25}</string>
			</dict>
			<key>rank/choose2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{345,316},{102,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,24}</string>
			</dict>
			<key>rank/choose2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{363,929},{110,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,25}</string>
			</dict>
			<key>rank/choose3_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{345,290},{103,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{103,24}</string>
			</dict>
			<key>rank/choose3_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{475,929},{109,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,25}</string>
			</dict>
			<key>rank/icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{676,220},{80,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,84}</string>
			</dict>
			<key>rank/ranking.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,345},{421,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{421,159}</string>
			</dict>
			<key>rank/select1.png</key>
			<dict>
				<key>frame</key>
				<string>{{525,253},{149,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{149,56}</string>
			</dict>
			<key>rank/select2.png</key>
			<dict>
				<key>frame</key>
				<string>{{474,598},{149,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{149,56}</string>
			</dict>
			<key>result/btnPlay.png</key>
			<dict>
				<key>frame</key>
				<string>{{372,342},{140,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,74}</string>
			</dict>
			<key>result/btnShare.png</key>
			<dict>
				<key>frame</key>
				<string>{{588,144},{140,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,74}</string>
			</dict>
			<key>result/line.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1020},{10,2}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{10,2}</string>
			</dict>
			<key>result/score.png</key>
			<dict>
				<key>frame</key>
				<string>{{345,1},{287,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{287,79}</string>
			</dict>
			<key>result/sendfriendicon.png</key>
			<dict>
				<key>frame</key>
				<string>{{557,956},{229,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{229,64}</string>
			</dict>
			<key>result/total_score1.png</key>
			<dict>
				<key>frame</key>
				<string>{{361,978},{194,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{194,21}</string>
			</dict>
			<key>result/total_score2.png</key>
			<dict>
				<key>frame</key>
				<string>{{361,1001},{194,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{194,21}</string>
			</dict>
			<key>result/vsfriendicon.png</key>
			<dict>
				<key>frame</key>
				<string>{{162,707},{175,59}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{175,60}</string>
			</dict>
			<key>result/weekly_score1.png</key>
			<dict>
				<key>frame</key>
				<string>{{160,978},{199,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{199,21}</string>
			</dict>
			<key>result/weekly_score2.png</key>
			<dict>
				<key>frame</key>
				<string>{{160,1001},{199,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{199,21}</string>
			</dict>
			<key>uipng/home_continuebtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{162,345},{360,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,103}</string>
			</dict>
			<key>uipng/home_continuebtn2.png</key>
			<dict>
				<key>frame</key>
				<string>{{267,345},{360,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,103}</string>
			</dict>
			<key>uipng/big_diamond.png</key>
			<dict>
				<key>frame</key>
				<string>{{529,755},{168,140}}</string>
				<key>offset</key>
				<string>{-1,-6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>
			<key>moregame/icon_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{545,656},{90,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>moregame/icon_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{693,1},{112,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,112}</string>
			</dict>
			<key>moregame/icon_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{372,484},{112,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,112}</string>
			</dict>
			<key>moregame/icon_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{730,115},{90,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>moregame/icon_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{758,207},{90,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>moregame/icon_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{486,446},{112,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,112}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>imgpngplist7.png</string>
			<key>realTextureFileName</key>
			<string>imgpngplist7.png</string>
			<key>size</key>
			<string>{918,1023}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>918</integer>
			<key>height</key>
			<integer>1023</integer>
		</dict>
	</dict>
</plist>