<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>sd/sd_blue.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,271},{441,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{441,150}</string>
			</dict>
			<key>sd/sd_di.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{757,268}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{757,268}</string>
			</dict>
			<key>sd/sd_line.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,975},{14,777}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{14,777}</string>
			</dict>
			<key>sd/sd_snow_top.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,716},{683,147}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{683,147}</string>
			</dict>
			<key>sd/sd_top.png</key>
			<dict>
				<key>frame</key>
				<string>{{760,1},{713,167}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{713,167}</string>
			</dict>
			<key>sd/sd_yellow_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{153,633},{147,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,77}</string>
			</dict>
			<key>sd/sd_deng.png</key>
			<dict>
				<key>frame</key>
				<string>{{780,975},{51,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,48}</string>
			</dict>
			<key>sd/sd_desk.png</key>
			<dict>
				<key>frame</key>
				<string>{{686,271},{638,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{638,69}</string>
			</dict>
			<key>sd/sd_qipao.png</key>
			<dict>
				<key>frame</key>
				<string>{{470,603},{115,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{115,111}</string>
			</dict>
			<key>sd_snow/sd_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{929,555},{81,181}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{81,181}</string>
			</dict>
			<key>sd_snow/sd_dg.png</key>
			<dict>
				<key>frame</key>
				<string>{{757,738},{256,235}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,235}</string>
			</dict>
			<key>sd_snow/sd_flush_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{929,1},{552,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{552,82}</string>
			</dict>
			<key>sd_snow/sd_i0.png</key>
			<dict>
				<key>frame</key>
				<string>{{103,865},{102,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{102,122}</string>
			</dict>
			<key>sd_snow/sd_i1.png</key>
			<dict>
				<key>frame</key>
				<string>{{227,865},{102,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{102,122}</string>
			</dict>
			<key>sd_snow/sd_i2.png</key>
			<dict>
				<key>frame</key>
				<string>{{351,865},{102,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{102,122}</string>
			</dict>
			<key>sd_snow/sd_i3.png</key>
			<dict>
				<key>frame</key>
				<string>{{475,865},{102,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{102,122}</string>
			</dict>
			<key>sd_snow/sd_snowball.png</key>
			<dict>
				<key>frame</key>
				<string>{{587,603},{93,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,93}</string>
			</dict>
			<key>sd_snow/dg/dg1_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{470,452},{179,149}}</string>
				<key>offset</key>
				<string>{0,22}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,209}</string>
			</dict>
			<key>sd_snow/dg/dg1_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{318,271},{179,151}}</string>
				<key>offset</key>
				<string>{0,21}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{180,209}</string>
			</dict>
			<key>sd_snow/dg/dg1_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{314,452},{179,154}}</string>
				<key>offset</key>
				<string>{0,19}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{180,209}</string>
			</dict>
			<key>sd_snow/dg/dg1_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{153,452},{179,159}}</string>
				<key>offset</key>
				<string>{0,17}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{180,209}</string>
			</dict>
			<key>sd_snow/dg/dg1_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{153,271},{179,163}}</string>
				<key>offset</key>
				<string>{0,15}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{180,209}</string>
			</dict>
			<key>sd_snow/sd_miss.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,911},{100,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,53}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>imgpngplist10.png</string>
			<key>realTextureFileName</key>
			<string>imgpngplist10.png</string>
			<key>size</key>
			<string>{1014,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1014</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>