<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>dailytask/DailyTask_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{393,674},{112,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{112,117}</string>
			</dict>
			<key>other/huangguan_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{582,756},{66,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{66,51}</string>
			</dict>
			<key>other/other_bg_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{285,893},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>other/percent_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{847,1},{641,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{641,58}</string>
			</dict>
			<key>other/playerbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{748,733},{86,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,86}</string>
			</dict>
			<key>other/rank_bg_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{636,736},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>other/touxiangkuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{265,663},{126,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,126}</string>
			</dict>
			<key>other/yaoqing2_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{512,815},{62,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,62}</string>
			</dict>
			<key>pngdata/title_out/png1.png</key>
			<dict>
				<key>frame</key>
				<string>{{919,763},{21,22}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,49}</string>
			</dict>
			<key>o_tournament/t_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{432,558},{151,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{151,114}</string>
			</dict>
			<key>o_tournament/t_icon_d.png</key>
			<dict>
				<key>frame</key>
				<string>{{738,821},{98,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,98}</string>
			</dict>
			<key>o_tournament/t_icon_label.png</key>
			<dict>
				<key>frame</key>
				<string>{{919,635},{126,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{126,21}</string>
			</dict>
			<key>o_tournament/t_icon_t.png</key>
			<dict>
				<key>frame</key>
				<string>{{633,838},{88,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,80}</string>
			</dict>
			<key>cross_play/des_str.png</key>
			<dict>
				<key>frame</key>
				<string>{{651,1},{587,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{587,110}</string>
			</dict>
			<key>cross_play/g_play_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{960,499},{100,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,58}</string>
			</dict>
			<key>cross_play/des_str1.png</key>
			<dict>
				<key>frame</key>
				<string>{{946,609},{409,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{409,51}</string>
			</dict>
			<key>cross_play/des_str2.png</key>
			<dict>
				<key>frame</key>
				<string>{{960,1},{496,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{496,53}</string>
			</dict>
			<key>cross_play/des_str3.png</key>
			<dict>
				<key>frame</key>
				<string>{{907,1},{606,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{606,51}</string>
			</dict>
			<key>tournament/downarrow.png</key>
			<dict>
				<key>frame</key>
				<string>{{576,824},{55,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,53}</string>
			</dict>
			<key>tournament/Jointhegame.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,590},{429,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{429,71}</string>
			</dict>
			<key>tournament/open_show.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{648,476}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{648,476}</string>
			</dict>
			<key>tournament/overtime.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,479},{149,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{149,88}</string>
			</dict>
			<key>tournament/rank_reward.png</key>
			<dict>
				<key>frame</key>
				<string>{{450,479},{125,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,69}</string>
			</dict>
			<key>tournament/NAME_tour.png</key>
			<dict>
				<key>frame</key>
				<string>{{171,663},{92,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,50}</string>
			</dict>
			<key>tournament/RANK_tour.png</key>
			<dict>
				<key>frame</key>
				<string>{{585,539},{88,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{88,49}</string>
			</dict>
			<key>tournament/SCORE_tour.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,663},{97,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,50}</string>
			</dict>
			<key>tournament/max_num_tour.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,968},{282,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{282,29}</string>
			</dict>
			<key>tournament/trm_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{512,755},{68,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,58}</string>
			</dict>
			<key>tournament/trm_watch.png</key>
			<dict>
				<key>frame</key>
				<string>{{585,629},{64,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,44}</string>
			</dict>
			<key>tournament/tour_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,733},{233,233}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{233,233}</string>
			</dict>
			<key>sd/sd_cakeman.png</key>
			<dict>
				<key>frame</key>
				<string>{{512,674},{79,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{79,70}</string>
			</dict>
			<key>sd/sd_gift_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{393,788},{117,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{117,110}</string>
			</dict>
			<key>sd/sd_red.png</key>
			<dict>
				<key>frame</key>
				<string>{{152,558},{27,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{27,27}</string>
			</dict>
			<key>sd/sd_snow.png</key>
			<dict>
				<key>frame</key>
				<string>{{847,644},{377,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{377,70}</string>
			</dict>
			<key>sd/sd_star.png</key>
			<dict>
				<key>frame</key>
				<string>{{907,609},{37,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{37,24}</string>
			</dict>
			<key>sd/sd_tree.png</key>
			<dict>
				<key>frame</key>
				<string>{{636,590},{110,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,144}</string>
			</dict>
			<key>sd/grass.png</key>
			<dict>
				<key>frame</key>
				<string>{{763,1},{82,730}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,730}</string>
			</dict>
			<key>sd/icon_hat.png</key>
			<dict>
				<key>frame</key>
				<string>{{577,479},{71,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{71,58}</string>
			</dict>
			<key>sd/icon_shose.png</key>
			<dict>
				<key>frame</key>
				<string>{{100,663},{67,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{67,69}</string>
			</dict>
			<key>sd/sd_close.png</key>
			<dict>
				<key>frame</key>
				<string>{{285,791},{101,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{101,100}</string>
			</dict>
			<key>sd/sd_green_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{152,479},{147,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,77}</string>
			</dict>
			<key>sd/sd_gwc.png</key>
			<dict>
				<key>frame</key>
				<string>{{584,695},{59,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{59,50}</string>
			</dict>
			<key>sd/sd_gray_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{301,479},{147,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,77}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>imgpngplist9.png</string>
			<key>realTextureFileName</key>
			<string>imgpngplist9.png</string>
			<key>size</key>
			<string>{1019,1022}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1019</integer>
			<key>height</key>
			<integer>1022</integer>
		</dict>
	</dict>
</plist>