<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>watchad/gantanhao.png</key>
			<dict>
				<key>frame</key>
				<string>{{758,585},{31,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{31,31}</string>
			</dict>
			<key>watchad/imgbrush.png</key>
			<dict>
				<key>frame</key>
				<string>{{358,163},{141,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{141,136}</string>
			</dict>
			<key>watchad/imgdem.png</key>
			<dict>
				<key>frame</key>
				<string>{{496,163},{141,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{141,136}</string>
			</dict>
			<key>watchad/imggift.png</key>
			<dict>
				<key>frame</key>
				<string>{{562,478},{142,194}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{142,194}</string>
			</dict>
			<key>watchad/imghammer.png</key>
			<dict>
				<key>frame</key>
				<string>{{520,1},{141,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{141,136}</string>
			</dict>
			<key>watchad/imgloop.png</key>
			<dict>
				<key>frame</key>
				<string>{{634,144},{141,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{141,136}</string>
			</dict>
			<key>watchad/no.png</key>
			<dict>
				<key>frame</key>
				<string>{{252,583},{167,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{167,32}</string>
			</dict>
			<key>watchad/pop_anniu2.png</key>
			<dict>
				<key>frame</key>
				<string>{{252,478},{308,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{308,103}</string>
			</dict>
			<key>watchad/popdiban.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{355,360}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{355,360}</string>
			</dict>
			<key>watchad/rewardlight.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,765},{344,229}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{344,229}</string>
			</dict>
			<key>watchad/targettxt.png</key>
			<dict>
				<key>frame</key>
				<string>{{819,1},{625,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{625,75}</string>
			</dict>
			<key>watchad/watch.png</key>
			<dict>
				<key>frame</key>
				<string>{{758,478},{66,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{66,48}</string>
			</dict>
			<key>uipng/tips_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{252,628},{534,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{534,70}</string>
			</dict>
			<key>result/add.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,996},{21,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{21,21}</string>
			</dict>
			<key>uipng/gameover.png</key>
			<dict>
				<key>frame</key>
				<string>{{252,363},{565,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{567,115}</string>
			</dict>
			<key>other/reward_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,363},{400,249}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{400,249}</string>
			</dict>
			<key>result/zhuanshi.png</key>
			<dict>
				<key>frame</key>
				<string>{{758,546},{44,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,37}</string>
			</dict>
			<key>uipng/timepng.png</key>
			<dict>
				<key>frame</key>
				<string>{{252,700},{191,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{191,63}</string>
			</dict>
			<key>bot_head/robot0.png</key>
			<dict>
				<key>frame</key>
				<string>{{788,628},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>bot_head/robot1.png</key>
			<dict>
				<key>frame</key>
				<string>{{445,700},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>bot_head/robot2.png</key>
			<dict>
				<key>frame</key>
				<string>{{607,700},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>bot_head/robot3.png</key>
			<dict>
				<key>frame</key>
				<string>{{769,790},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>bot_head/robot4.png</key>
			<dict>
				<key>frame</key>
				<string>{{347,862},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>bot_head/robot5.png</key>
			<dict>
				<key>frame</key>
				<string>{{509,862},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>bot_head/robot6.png</key>
			<dict>
				<key>frame</key>
				<string>{{358,1},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>uipng/new_gem.png</key>
			<dict>
				<key>frame</key>
				<string>{{896,1},{111,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{111,126}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>imgpngplist4.png</string>
			<key>realTextureFileName</key>
			<string>imgpngplist4.png</string>
			<key>size</key>
			<string>{1023,1023}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1023</integer>
			<key>height</key>
			<integer>1023</integer>
		</dict>
	</dict>
</plist>