<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>effects/yellow_exp_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{341,592},{130,144}}</string>
				<key>offset</key>
				<string>{-3,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>effects/yellow_exp_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{487,579},{139,131}}</string>
				<key>offset</key>
				<string>{-3,6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>effects/yellow_exp_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{631,596},{143,139}}</string>
				<key>offset</key>
				<string>{-2,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>other/circle.png</key>
			<dict>
				<key>frame</key>
				<string>{{631,305},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>public_btn/icon_flush.png</key>
			<dict>
				<key>frame</key>
				<string>{{697,235},{66,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,66}</string>
			</dict>
			<key>public_btn/icon_green_gou.png</key>
			<dict>
				<key>frame</key>
				<string>{{448,120},{51,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{51,50}</string>
			</dict>
			<key>public_btn/icon_home.png</key>
			<dict>
				<key>frame</key>
				<string>{{700,167},{76,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,66}</string>
			</dict>
			<key>public_btn/icon_red_gou.png</key>
			<dict>
				<key>frame</key>
				<string>{{481,53},{51,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{51,50}</string>
			</dict>
			<key>public_btn/icon_sound_close.png</key>
			<dict>
				<key>frame</key>
				<string>{{736,737},{71,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{71,64}</string>
			</dict>
			<key>public_btn/icon_sound_open.png</key>
			<dict>
				<key>frame</key>
				<string>{{631,219},{70,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,64}</string>
			</dict>
			<key>public_btn/icon_wenhao.png</key>
			<dict>
				<key>frame</key>
				<string>{{627,167},{50,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,71}</string>
			</dict>
			<key>uipng/blue_star.png</key>
			<dict>
				<key>frame</key>
				<string>{{549,376},{43,49}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>uipng/cool.png</key>
			<dict>
				<key>frame</key>
				<string>{{150,347},{385,189}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{387,191}</string>
			</dict>
			<key>uipng/dblclick.png</key>
			<dict>
				<key>frame</key>
				<string>{{911,1},{230,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{230,103}</string>
			</dict>
			<key>uipng/diamond.png</key>
			<dict>
				<key>frame</key>
				<string>{{347,69},{62,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,56}</string>
			</dict>
			<key>uipng/dlick.png</key>
			<dict>
				<key>frame</key>
				<string>{{911,233},{230,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{230,103}</string>
			</dict>
			<key>uipng/good.png</key>
			<dict>
				<key>frame</key>
				<string>{{477,825},{323,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{325,134}</string>
			</dict>
			<key>uipng/great.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,867},{371,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{373,137}</string>
			</dict>
			<key>uipng/green_star.png</key>
			<dict>
				<key>frame</key>
				<string>{{498,1},{50,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>uipng/halo.png</key>
			<dict>
				<key>frame</key>
				<string>{{582,142},{84,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{84,43}</string>
			</dict>
			<key>uipng/layer_close_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{453,325},{94,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,98}</string>
			</dict>
			<key>uipng/layer_mask.png</key>
			<dict>
				<key>frame</key>
				<string>{{911,920},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>uipng/main_addbtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{415,53},{64,65}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,66}</string>
			</dict>
			<key>uipng/main_brushbtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{631,737},{79,103}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{94,104}</string>
			</dict>
			<key>uipng/main_brushselected.png</key>
			<dict>
				<key>frame</key>
				<string>{{793,456},{115,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{115,138}</string>
			</dict>
			<key>uipng/main_hammerbtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{549,285},{74,89}}</string>
				<key>offset</key>
				<string>{0,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,104}</string>
			</dict>
			<key>uipng/main_hammerselected.png</key>
			<dict>
				<key>frame</key>
				<string>{{374,853},{101,115}}</string>
				<key>offset</key>
				<string>{-2,6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{115,138}</string>
			</dict>
			<key>uipng/main_level.png</key>
			<dict>
				<key>frame</key>
				<string>{{911,465},{240,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{251,94}</string>
			</dict>
			<key>uipng/main_loopbtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{720,467},{94,67}}</string>
				<key>offset</key>
				<string>{0,-17}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{94,104}</string>
			</dict>
			<key>uipng/main_loopbtnselected.png</key>
			<dict>
				<key>frame</key>
				<string>{{628,467},{115,90}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{115,138}</string>
			</dict>
			<key>uipng/main_Lv.png</key>
			<dict>
				<key>frame</key>
				<string>{{802,920},{52,34}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,37}</string>
			</dict>
			<key>uipng/main_lvbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{347,269},{149,54}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,56}</string>
			</dict>
			<key>uipng/main_moneybg1.png</key>
			<dict>
				<key>frame</key>
				<string>{{672,959},{237,54}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{238,54}</string>
			</dict>
			<key>uipng/main_moneybg2.png</key>
			<dict>
				<key>frame</key>
				<string>{{582,1},{139,41}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,42}</string>
			</dict>
			<key>uipng/main_pausebtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{347,1},{66,66}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,67}</string>
			</dict>
			<key>uipng/main_score.png</key>
			<dict>
				<key>frame</key>
				<string>{{498,228},{131,55}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,60}</string>
			</dict>
			<key>uipng/main_sound_off_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{341,347},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>uipng/main_sound_on_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{480,467},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>uipng/main_target.png</key>
			<dict>
				<key>frame</key>
				<string>{{993,465},{110,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{110,26}</string>
			</dict>
			<key>uipng/meteor.png</key>
			<dict>
				<key>frame</key>
				<string>{{374,970},{296,50}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,50}</string>
			</dict>
			<key>uipng/other_star.png</key>
			<dict>
				<key>frame</key>
				<string>{{453,425},{41,40}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>uipng/progresss.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1004},{317,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{317,18}</string>
			</dict>
			<key>uipng/progresss_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{150,825},{325,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{325,26}</string>
			</dict>
			<key>uipng/purple_star.png</key>
			<dict>
				<key>frame</key>
				<string>{{448,1},{50,48}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>uipng/red_star.png</key>
			<dict>
				<key>frame</key>
				<string>{{496,425},{41,40}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>uipng/relife_light.png</key>
			<dict>
				<key>frame</key>
				<string>{{802,707},{211,211}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{211,211}</string>
			</dict>
			<key>uipng/relife_wingleft.png</key>
			<dict>
				<key>frame</key>
				<string>{{341,467},{137,123}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{138,124}</string>
			</dict>
			<key>uipng/relife_wingright.png</key>
			<dict>
				<key>frame</key>
				<string>{{793,305},{149,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,112}</string>
			</dict>
			<key>uipng/star.png</key>
			<dict>
				<key>frame</key>
				<string>{{631,1},{167,164}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,164}</string>
			</dict>
			<key>uipng/very_nice.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,347},{518,147}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{520,149}</string>
			</dict>
			<key>uipng/yellow_star.png</key>
			<dict>
				<key>frame</key>
				<string>{{539,425},{41,40}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>up_rank/arrow1.png</key>
			<dict>
				<key>frame</key>
				<string>{{800,1},{150,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,102}</string>
			</dict>
			<key>up_rank/arrow2.png</key>
			<dict>
				<key>frame</key>
				<string>{{800,153},{150,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,102}</string>
			</dict>
			<key>up_rank/black.png</key>
			<dict>
				<key>frame</key>
				<string>{{347,167},{99,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,100}</string>
			</dict>
			<key>up_rank/icon_frame.png</key>
			<dict>
				<key>frame</key>
				<string>{{776,596},{107,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{107,108}</string>
			</dict>
			<key>up_rank/light.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{344,344}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{344,344}</string>
			</dict>
			<key>up_rank/tittle.png</key>
			<dict>
				<key>frame</key>
				<string>{{150,734},{479,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{479,89}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>imgpngplist3.png</string>
			<key>realTextureFileName</key>
			<string>imgpngplist3.png</string>
			<key>size</key>
			<string>{1020,1023}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1020</integer>
			<key>height</key>
			<integer>1023</integer>
		</dict>
	</dict>
</plist>