<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>effects/color_exp_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,218},{206,204}}</string>
				<key>offset</key>
				<string>{4,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>effects/color_exp_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{222,216},{204,207}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>effects/color_exp_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{654,204},{207,211}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>effects/color_exp_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{440,213},{207,211}}</string>
				<key>offset</key>
				<string>{-3,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>effects/color_exp_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{440,1},{212,210}}</string>
				<key>offset</key>
				<string>{-1,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>effects/color_exp_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{219,215}}</string>
				<key>offset</key>
				<string>{-2,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>effects/color_exp_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{222,1},{213,216}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>effects/color_exp_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{654,1},{218,201}}</string>
				<key>offset</key>
				<string>{-2,6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>effects/color_exp_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{653,413},{206,206}}</string>
				<key>offset</key>
				<string>{5,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>effects/colorless_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,542},{121,112}}</string>
				<key>offset</key>
				<string>{6,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>
			<key>effects/colorless_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{296,589},{111,111}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>
			<key>effects/colorless_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{636,735},{110,111}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>
			<key>effects/colorless_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{522,653},{112,110}}</string>
				<key>offset</key>
				<string>{2,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>
			<key>effects/colorless_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,665},{114,109}}</string>
				<key>offset</key>
				<string>{4,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>
			<key>effects/colorless_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{182,702},{106,106}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>
			<key>effects/colorless_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{847,757},{109,111}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>
			<key>effects/colorless_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{538,422},{113,115}}</string>
				<key>offset</key>
				<string>{2,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>
			<key>effects/colorless_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,424},{116,120}}</string>
				<key>offset</key>
				<string>{4,-5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>
			<key>effects/colorless_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{409,643},{111,111}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>
			<key>effects/colorless_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{182,589},{111,112}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>
			<key>effects/colorless_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{641,621},{112,112}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>
			<key>effects/colorless_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{410,529},{112,114}}</string>
				<key>offset</key>
				<string>{1,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>
			<key>effects/colorless_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{526,539},{112,113}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>
			<key>effects/colorless_exp_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{575,942},{89,69}}</string>
				<key>offset</key>
				<string>{-4,-11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>effects/colorless_exp_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,883},{99,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>effects/colorless_exp_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{103,872},{71,94}}</string>
				<key>offset</key>
				<string>{7,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>effects/colorless_exp_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{968,648},{55,79}}</string>
				<key>offset</key>
				<string>{4,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>effects/colorless_exp_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{960,784},{35,51}}</string>
				<key>offset</key>
				<string>{8,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>effects/colorless_exp_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,781},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>effects/colorless_exp_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{290,702},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>effects/colorless_exp_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{392,756},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>effects/colorless_exp_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{290,804},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>effects/colorless_exp_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{179,810},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>effects/colorless_exp_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{494,765},{99,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>effects/colorless_exp_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{281,906},{94,100}}</string>
				<key>offset</key>
				<string>{3,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>effects/colorless_exp_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{698,930},{86,99}}</string>
				<key>offset</key>
				<string>{7,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>effects/firework_exp_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{968,729},{55,53}}</string>
				<key>offset</key>
				<string>{1,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>effects/firework_exp_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{913,907},{88,85}}</string>
				<key>offset</key>
				<string>{2,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>effects/firework_exp_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{816,868},{95,91}}</string>
				<key>offset</key>
				<string>{2,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>effects/firework_exp_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{176,912},{98,95}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>effects/firework_exp_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{749,747},{100,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>effects/firework_exp_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{392,858},{100,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>effects/firework_exp_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{596,847},{100,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>effects/firework_exp_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{209,422},{199,165}}</string>
				<key>offset</key>
				<string>{-1,-9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>effects/firework_move_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{991,589},{26,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>effects/firework_move_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{991,531},{27,27}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>effects/firework_move_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{960,821},{41,42}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>effects/firework_move_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,984},{35,35}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>effects/firework_move_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{103,968},{40,41}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>effects/firework_move_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{991,617},{26,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>effects/firework_move_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{991,560},{27,27}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>effects/firework_move_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{960,864},{41,42}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>effects/firework_move_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{38,984},{35,35}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>effects/green_exp_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{115,650},{109,65}}</string>
				<key>offset</key>
				<string>{2,20}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>effects/green_exp_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{494,866},{116,79}}</string>
				<key>offset</key>
				<string>{2,19}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>effects/green_exp_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{755,621},{124,92}}</string>
				<key>offset</key>
				<string>{2,16}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>effects/green_exp_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{410,422},{126,105}}</string>
				<key>offset</key>
				<string>{2,14}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>effects/green_exp_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{849,648},{107,117}}</string>
				<key>offset</key>
				<string>{-1,10}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>effects/green_exp_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{861,531},{115,128}}</string>
				<key>offset</key>
				<string>{-2,6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>effects/green_exp_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{867,407},{122,138}}</string>
				<key>offset</key>
				<string>{-3,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>effects/green_exp_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,142},{130,144}}</string>
				<key>offset</key>
				<string>{-3,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>effects/green_exp_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{867,274},{139,131}}</string>
				<key>offset</key>
				<string>{-3,6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>effects/green_exp_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,1},{143,139}}</string>
				<key>offset</key>
				<string>{-2,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>effects/pass_effect_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{123,424},{224,57}}</string>
				<key>offset</key>
				<string>{3,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{350,110}</string>
			</dict>
			<key>effects/purple_exp_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{112,761},{109,65}}</string>
				<key>offset</key>
				<string>{2,20}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>effects/purple_exp_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{698,849},{116,79}}</string>
				<key>offset</key>
				<string>{2,19}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>imgpngplist1.png</string>
			<key>realTextureFileName</key>
			<string>imgpngplist1.png</string>
			<key>size</key>
			<string>{1024,1020}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1020</integer>
		</dict>
	</dict>
</plist>