<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>other/scalesprite1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{240,240}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{240,240}</string>
			</dict>
			<key>other/scalesprite2.png</key>
			<dict>
				<key>frame</key>
				<string>{{353,1},{92,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,92}</string>
			</dict>
			<key>other/scalesprite3.png</key>
			<dict>
				<key>frame</key>
				<string>{{447,1},{90,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>uipng/stone_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{360,362},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>uipng/stone_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{433,210},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>uipng/stone_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{318,709},{72,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>uipng/stone_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{389,562},{72,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>uipng/stone_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{389,636},{72,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>uipng/stone_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{433,284},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>uipng/stone_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{457,93},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>uipng/stone_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{257,871},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>uipng/stone_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{257,945},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>uipng/stone_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{264,787},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>uipng/stone_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{415,436},{72,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>uipng/stone_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{434,358},{72,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>uipng/stone_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{462,510},{72,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>other/scalesprite4.png</key>
			<dict>
				<key>frame</key>
				<string>{{69,721},{90,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>other/scalesprite5.png</key>
			<dict>
				<key>frame</key>
				<string>{{69,813},{90,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>dailytask/DailyTask_jgg1.png</key>
			<dict>
				<key>frame</key>
				<string>{{328,322},{38,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{38,38}</string>
			</dict>
			<key>dailytask/DailyTask_jgg2.png</key>
			<dict>
				<key>frame</key>
				<string>{{161,871},{33,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{33,32}</string>
			</dict>
			<key>dailytask/DailyTask_jgg3.png</key>
			<dict>
				<key>frame</key>
				<string>{{236,590},{75,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,80}</string>
			</dict>
			<key>moregame/9gg_gm_sr.png</key>
			<dict>
				<key>frame</key>
				<string>{{353,470},{90,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{90,60}</string>
			</dict>
			<key>moregame/9gg_gm_srbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{103,905},{90,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>moregame/9gg_rank_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{348,112},{107,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{107,96}</string>
			</dict>
			<key>moregame/9gg_rank_select.png</key>
			<dict>
				<key>frame</key>
				<string>{{225,243},{120,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{120,101}</string>
			</dict>
			<key>competition/playimg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,934},{100,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,79}</string>
			</dict>
			<key>uipng/achieve_normal_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{240,709},{76,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,76}</string>
			</dict>
			<key>uipng/achieve_selected_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{275,470},{76,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,76}</string>
			</dict>
			<key>uipng/main_success_bg_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{313,585},{74,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,74}</string>
			</dict>
			<key>rank/frame1_1_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{161,809},{60,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,101}</string>
			</dict>
			<key>rank/frame1_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{331,861},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>rank/frame2_1_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{195,905},{60,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,101}</string>
			</dict>
			<key>rank/frame2_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{338,783},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>rank/frame3_1_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{174,590},{60,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,101}</string>
			</dict>
			<key>rank/frame3_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{391,709},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>up_rank/frame1_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,712},{66,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,220}</string>
			</dict>
			<key>up_rank/frame2_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,489},{66,221}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,221}</string>
			</dict>
			<key>public_btn/blue_large.png</key>
			<dict>
				<key>frame</key>
				<string>{{243,112},{103,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{103,103}</string>
			</dict>
			<key>public_btn/blue_samll.png</key>
			<dict>
				<key>frame</key>
				<string>{{400,771},{61,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{61,54}</string>
			</dict>
			<key>public_btn/gray_large.png</key>
			<dict>
				<key>frame</key>
				<string>{{69,616},{103,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{103,103}</string>
			</dict>
			<key>public_btn/gray_small.png</key>
			<dict>
				<key>frame</key>
				<string>{{453,709},{61,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,54}</string>
			</dict>
			<key>public_btn/green_big.png</key>
			<dict>
				<key>frame</key>
				<string>{{125,243},{128,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,98}</string>
			</dict>
			<key>public_btn/green_large.png</key>
			<dict>
				<key>frame</key>
				<string>{{170,485},{103,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{103,103}</string>
			</dict>
			<key>public_btn/green_samll.png</key>
			<dict>
				<key>frame</key>
				<string>{{463,584},{61,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{61,54}</string>
			</dict>
			<key>public_btn/purple_samll.png</key>
			<dict>
				<key>frame</key>
				<string>{{69,487},{127,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{127,99}</string>
			</dict>
			<key>public_btn/red_large.png</key>
			<dict>
				<key>frame</key>
				<string>{{255,365},{103,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{103,103}</string>
			</dict>
			<key>public_btn/red_small.png</key>
			<dict>
				<key>frame</key>
				<string>{{463,647},{61,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,54}</string>
			</dict>
			<key>public_btn/yellow_big.png</key>
			<dict>
				<key>frame</key>
				<string>{{125,373},{128,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,98}</string>
			</dict>
			<key>public_btn/yellow_large.png</key>
			<dict>
				<key>frame</key>
				<string>{{328,217},{103,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{103,103}</string>
			</dict>
			<key>public_btn/yellow_samll.png</key>
			<dict>
				<key>frame</key>
				<string>{{519,584},{61,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{61,54}</string>
			</dict>
			<key>result/anniu_b_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{331,923},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>result/anniu_g_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{393,845},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>result/bg_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{125,473},{10,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{10,64}</string>
			</dict>
			<key>result/tittle_left_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{243,217},{10,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{10,64}</string>
			</dict>
			<key>uipng/stone_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{488,432},{68,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>uipng/grass0.png</key>
			<dict>
				<key>frame</key>
				<string>{{236,672},{35,35}}</string>
				<key>offset</key>
				<string>{-17,17}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>uipng/grass1.png</key>
			<dict>
				<key>frame</key>
				<string>{{273,672},{35,35}}</string>
				<key>offset</key>
				<string>{-17,17}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>uipng/grass2.png</key>
			<dict>
				<key>frame</key>
				<string>{{310,672},{35,35}}</string>
				<key>offset</key>
				<string>{-17,17}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>uipng/grass3.png</key>
			<dict>
				<key>frame</key>
				<string>{{275,548},{35,35}}</string>
				<key>offset</key>
				<string>{-17,17}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>uipng/grass4.png</key>
			<dict>
				<key>frame</key>
				<string>{{312,548},{35,35}}</string>
				<key>offset</key>
				<string>{-17,17}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>tournament/zhedie_show.png</key>
			<dict>
				<key>frame</key>
				<string>{{161,721},{77,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{77,86}</string>
			</dict>
			<key>tournament/award_bg0.png</key>
			<dict>
				<key>frame</key>
				<string>{{63,243},{242,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{242,60}</string>
			</dict>
			<key>tournament/award_bg1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,243},{244,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{244,60}</string>
			</dict>
			<key>tournament/trm_gray_rect.png</key>
			<dict>
				<key>frame</key>
				<string>{{243,1},{109,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{109,108}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>scaleimglist.png</string>
			<key>realTextureFileName</key>
			<string>scaleimglist.png</string>
			<key>size</key>
			<string>{574,1018}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>574</integer>
			<key>height</key>
			<integer>1018</integer>
		</dict>
	</dict>
</plist>